*{
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: #191919;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(so.png);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: rgb(237, 226, 239);
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bolder;
    cursor: pointer;
}
span{
    color: rgb(98, 60, 134);
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;

}
nav ul li a{
    color: rgb(237, 226, 239) ;
    text-decoration: none;
    font-weight: bolder;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(98, 60, 134);
    transition: .2s;
}
.btn{
    background-color: rgb(98, 60, 134);
    color: rgb(237, 226, 239);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .2s;
    cursor: pointer;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: rgb(237, 226, 239) ;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: rgb(237, 226, 239);
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: rgb(173, 123, 220);
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(98, 60, 134);
    outline: none;
    border-radius: 15px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding:10px 30px;
    border-radius: 15px;
    background-color: rgb(98, 60, 134);
    color:rgb(237, 226, 239) ;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.about{

    padding:  100px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: rgb(237, 226, 239);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bolder;
}
.about-text h5{
    color:rgb(237, 226, 239) ;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgb(173, 123, 220);
    letter-spacing: normal;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
    font-weight: bolder;
}
button{
    background-color: rgb(98, 60, 134);
    color: rgb(237, 226, 239) ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    padding: 15px 30px;
    border-radius: 15px;
    transition: .2s;
    cursor: pointer;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(98, 60, 134);
    cursor: pointer;
}
h1{
    text-align: center;
    color: rgb(237, 226, 239);

}
h3{
    margin: 5px;
}
.skill{
    position: relative;
    padding: 100px 0px;
    width: 1000px;
    height: 100vh ;
    background-color: #191919 ;
    color: rgb(237, 226, 239);
    list-style: none;
    margin: 60px auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.skill li{
    margin: 20px 0;
    padding:10px;
}
.bar{
    background:rgb(98, 60, 134) ;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(98, 60, 134)0%,rgb(173, 123, 220)100% );
}
.html{
    width: 90%;
    animation: html 5s;
}
.css{
    width: 90%;
    animation: css 5s;
}
.JavaScript{
    width: 80%;
    animation: JavaScript 5s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes JavaScript {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.service{
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color:rgb(237, 226, 239) ;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #101010;
    border-radius: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: bolder;
    box-shadow: 5px 5px 5px(silver);
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:rgb(98, 60, 134) ;
}
h5{
    color:rgb(237, 226, 239) ;
    font-size: 20px;
    margin-bottom: 15px;
}
.pra{
    color:rgb(173, 123, 220) ;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.card .button{
    background-color: rgb(98, 60, 134);
    color: rgb(237, 226, 239) ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    padding: 8px 30px;
    border-radius: 15px;
    transition: .2s;
    padding-top: 10px;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid rgb(98, 60, 134);
    cursor: pointer;
}
.Contact-me{
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}
.Contact-me p{
    color: rgb(237, 226, 239);
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 25px;
    
}
.Contact-me .button-two{
    background-color: rgb(98, 60, 134);
    color: rgb(237, 226, 239) ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    padding: 8px 30px;
    border-radius: 15px;
    transition: .2s;
    padding-top: 10px;
}
.Contact-me .button-two:hover{
    background-color:black;
    border: 2px solid rgb(98, 60, 134);
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: rgb(237, 226, 239);
    margin-bottom: 20px;
    font-weight: bolder;
}
footer p:nth-child(2){
    color:rgb(237, 226, 239) ;
    font-size: 15px;
    width: 500px;
    text-align: center;
    line-height: 26px;
    font-weight: bolder;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 84, 123);
    border-radius: 50%;
    margin: 22px 10px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color:rgb(98, 60, 134) ;
    bottom: 35px;
    font-size: 14px;
    font-weight: bolder;
}
        